body {  
    background-color: #ffffff;  
}  

#subscribeButton {  
    font-weight: bold;  
    font-size: 18px;  
    transition: background-color 0.3s;  
}  

#subscribeButton:hover {  
    background-color: #27AE60; 
}  

.error {  
    height: 20px; 
}  